.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

.flexOne {
    display: flex;
    justify-content: flex-start;
    
}

.flexOne > .square{
    margin: 5px;
    
}

.flexTwo {
    display: flex;
    flex-direction: column;
 
}


.flexTwo > .square{
    margin: 2px;
    
}

.flexThree {
    display: flex;
    justify-content: flex-end; /* para que aparezca al inicio*/
    flex-direction: row-reverse;
 
}

.flexThree > .square{
    margin: 2px;
    
}

.flexFour {
    display: flex;
    width:350px;
    flex-flow: wrap;
 
}

.flexFour > .square{
    margin: 5px;
    background-color: #3d8b6d;
    
}